<div class="tabla">
  <h1>Administracion de Articulos</h1>

  <table border="1px">
    <thead>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Borrar</th>
      <th>Seleccionar</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of articulos">
        <td>{{ item.codigo }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.precio }}</td>
        <td><button (click)="borrar(item)">Borrar</button></td>
        <td><button (click)="seleccionar(item)">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
    <form>
      <label for="codigo">Codigo</label>
      <input type="number" [(ngModel)]="art.codigo" name="codigo" [value]="art.codigo" required/> <br />

      <label for="descripcion">Descripción</label>
      <input type="text" [(ngModel)]="art.descripcion" name="descripcion" [value]="art.descripcion" required/> <br />

      <label for="precio">Precio</label>
      <input type="number" [(ngModel)]="art.precio" name="precio" [value]="art.precio" required/> <br />

      <button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button>
    </form>
</div>
