<div class="triangulos">
    <div class="figura">
        <div class="trianguloAmarillo"></div>
        <span class="texto">
            <span>Amarillo</span>
            <span>Azul</span>
            <span>Rojo</span>
        </span>
    </div>
    <div class="figura">
        <div class="trianguloAzul"></div>
        <span class="texto">
            <span>Azul</span>
            <span>Rojo</span>
            <span>Amarillo</span>
        </span>
    </div>
    <div class="figura">
        <div class="trianguloRojo"></div>
        <span class="texto">
            <span>Rojo</span>
            <span>Amarillo</span>
            <span>Azul</span>
        </span>
    </div>
</div>